.main-layout {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
}

.main-layout .ant-layout-sider {
  position: relative;
  left: 0;
  height: calc(100vh - 64px);
  top: 64px;
  z-index: 100;
}

.main-layout .ant-layout-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  background: transparent !important;
}

.main-header {
  position: relative;
  padding: 0 24px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: -1;
}

.trigger {
  position: absolute;
  top: 24px;
  right: -16px;
  font-size: 14px;
  line-height: 32px;
  cursor: pointer;
  transition: color 0.3s;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.trigger:hover {
  color: #1890ff;
}

.user-info {
  cursor: pointer;
}

.username {
  margin-left: 8px;
}

.main-content {
  flex: 1;
  margin: 24px;
  padding: 24px;
  background: #fff;
  min-height: 280px;
}

.logo {
  height: 32px;
  line-height: 32px;
  font-size: 18px;
  font-weight: 700;
  margin: 16px 0;
}